
<div class="choose">
	<div class="choose__title">Схема переключения <sup>1,2,3</sup></div>

	<div class="choose__item" id="carbamazepin">
		<div class="choose__preparat" >
			<div class="choose__preparat_from">Карбамазепин</div>
			<div class="choose__preparat_arrow"></div>
			<div class="choose__preparat_to">Вальпроевая кислота</div>
		</div>
		<div class="week" id="carbamazepinContent">

			<div class="week__title">Недели</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet">
						1000 мг <sup>4*</sup>
					</div>
				</div>
				<div class="week__num mod-transparent"></div>
				<div class="week__to">
					<div class="week__to_cheet mod-transparent">
						0 мг <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet">
						1000 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">1</div>
				<div class="week__to">
					<div class="week__to_cheet mod_w20">
						250 мг <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet">
						1000 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">2</div>
				<div class="week__to">
					<div class="week__to_cheet mod_w30">
						500 мг <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet">
						1000 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">3</div>
				<div class="week__to">
					<div class="week__to_cheet mod_w50">
						750 мг <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet">
						1000 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">4</div>
				<div class="week__to">
					<div class="week__to_cheet mod_w60">
						1000 мг <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet">
						1000 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">5</div>
				<div class="week__to">
					<div class="week__to_cheet mod_w80">
						1250 мг <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w50">
						800 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">6</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w50">
						800 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">7</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w40">
						600 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">8</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w40">
						600 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">9</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w30">
						400 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">10</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w30">
						400 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">11</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w20">
						200 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">12</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w20">
						200 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">13</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod-transparent">
						0 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num  mod-transparent"></div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>4*</sup>
					</div>
				</div>
			</div>
		</div>

		<div class="html2pdf__page-break"></div>

		<div class="is-center" data-hide="" >
			<!-- <button class="btn"> РАспеЧатать</button> -->
			<button class="btn" onclick="printDiv('test')" > РАспеЧатать</button>
		</div>
	</div>

	<div class="choose__item" id="livenirazim">
		<div class="choose__preparat" >
			<div class="choose__preparat_from">Леветирацетам</div>
			<div class="choose__preparat_arrow"></div>
			<div class="choose__preparat_to">Вальпроевая кислота</div>
		</div>
		<div class="week" id="livenirazimContent">
			<div class="week__title">Недели</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet">
						1500 мг <sup>4*</sup>
					</div>
				</div>
				<div class="week__num mod-transparent"></div>
				<div class="week__to">
					<div class="week__to_cheet mod-transparent">
						0 мг <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet">
						1500 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">1</div>
				<div class="week__to">
					<div class="week__to_cheet mod_w20">
						300 мг <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet">
						1500 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">2</div>
				<div class="week__to">
					<div class="week__to_cheet mod_w30">
						600 мг <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet">
						1500 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">3</div>
				<div class="week__to">
					<div class="week__to_cheet mod_w50">
						900 мг <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet">
						1500 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">4</div>
				<div class="week__to">
					<div class="week__to_cheet mod_w60">
						1200 мг <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet  mod_w80">
						1250 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">5</div>
				<div class="week__to">
					<div class="week__to_cheet">
						1500 мг <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w80">
						1250 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">6</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w70">
						1000 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">7</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w70">
						1000 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">8</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w50">
						750 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">9</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w50">
						750 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">10</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w30">
						500 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">11</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w30">
						500 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">12</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w20">
						250 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">13</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w20">
						250 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">14</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod-transparent">
						0 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num  mod-transparent"></div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>4*</sup>
					</div>
				</div>
			</div>
		</div>

		<!-- <div class="html2pdf__page-break"></div> -->

		<div class="is-center"  data-hide="">
			<button class="btn"  onclick="printDiv('test')" > РАспеЧатать</button>
		</div>
	</div>

	<div class="choose__item" id="topiramat">
		<div class="choose__preparat" >
			<div class="choose__preparat_from">Топирамат</div>
			<div class="choose__preparat_arrow"></div>
			<div class="choose__preparat_to">Вальпроевая кислота</div>
		</div>
		<div class="week" id="topiramatContent" >
			<div class="week__title">Недели</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet">
						300 мг <sup>4*</sup>
					</div>
				</div>
				<div class="week__num mod-transparent"></div>
				<div class="week__to">
					<div class="week__to_cheet mod-transparent">
						0 мг <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet">
						300 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">1</div>
				<div class="week__to">
					<div class="week__to_cheet mod_w40">
						300 мг <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet">
						300 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">2</div>
				<div class="week__to">
					<div class="week__to_cheet mod_w60">
						600 мг <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet">
						300 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">3</div>
				<div class="week__to">
					<div class="week__to_cheet mod_w70">
						900 мг <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet">
						300 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">4</div>
				<div class="week__to">
					<div class="week__to_cheet mod_w80">
						1200 мг <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet  mod_w80">
						250 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">5</div>
				<div class="week__to">
					<div class="week__to_cheet">
						1500 мг <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w80">
						250 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">6</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w70">
						200 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">7</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w70">
						200 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">8</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w50">
						150 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">9</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w50">
						150 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">10</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w30">
						100 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">11</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w30">
						100 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">12</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w20">
						50 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">13</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod_w20">
						50 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num ">14</div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>*</sup>
					</div>
				</div>
			</div>

			<div class="week__item">
				<div class="week__from">
					<div class="week__from_cheet mod-transparent">
						0 мг <sup>*</sup>
					</div>
				</div>
				<div class="week__num  mod-transparent"></div>
				<div class="week__to">
					<div class="week__to_cheet">
						<span>1500 мг</span> <sup>4*</sup>
					</div>
				</div>
			</div>
		</div>

		<!-- <div class="html2pdf__page-break"></div> -->

		<div class="is-center"  data-hide="">
			<button class="btn"  onclick="printDiv('test')" > РАспеЧатать</button>
		</div>

	</div>

</div>