
<footer class="shema_footer">
	<ul class="simple__list">
		<li class="simple__item">
			<img class="simple__item_icon" src="static/img/content/icon-list.png" alt="list-icon">
			<p class="desc__main">Хотя суточная доза определяется в зависимости от возраста и массы тела больного, следует принимать во внимание широкий спектр индивидуальной чувствительности к вальпроевой кислоте.<sup>2</sup></p>
		</li>
	</ul>

	<div class="literature">
		<h4 class="literature__title"> Источники:</h4>
		<ul class="literature__list">
			<li class="literature__item">B.F. Bourgeois. Epilepsy Res. 2002; 52(1): 53-60/</li>
			<li class="literature__item">Инструкция по медицинскому применению препарата Депакин<sup>®</sup> Хроносфера от 12.07.2017 </li>
			<li class="literature__item">Ковалева И.Ю. Выбор альтернативной монотерапии при эпилепсии. Эпилепсия и пароксизмальные состояния 2015, том 7, №4, с.50-57.</li>
			<li class="literature__item">http://www.whocc.no/atc_ddd_index/ Дата обращения 29.01.2016.</li>
		</ul>
	</div>

	<div class="footnote">
		<p class="footnote__desc"><sup>&lowast;</sup> Использована “усредненная” суточная доза - defined daily dose, рекомендованная ВОЗ для стандартизированных расчетов.</p>
		<p class="footnote__desc"><sup>&lowast;&lowast;</sup> При расчетах в качестве средней массы тела использовалась масса 75 кг.</p>
		<p class="footnote__desc"> <sup>&lowast;&lowast;&lowast; </sup>МИНИСТЕРСТВО ЗДРАВООХРАНЕНИЯ И СОЦИАЛЬНОГО РАЗВИТИЯ РОССИЙСКОЙ ФЕДЕРАЦИИ ПРИКАЗ 28 февраля 2005 г. N 174 ОБ УТВЕРЖДЕНИИ СТАНДАРТА МЕДИЦИНСКОЙ ПОМОЩИ БОЛЬНЫМ ЭПИЛЕПСИЕЙ; National Institute for Health and Care Excellence (NICE). Epilepsies: diagnosis and management, Clinical guideline (CG137), Published: 11 January 2012, Last updated February 2016 (nice.org.uk/cg137, дата обращения 27.05.2016); - В.В. Калинин, Психиатрия и психофармакотерапия им. П.Б. Ганнушкина. 2003; 03: 126 - 130.</p>
	</div>
	<div class="ru-nomeric">SARU.VPA.18.02.0269.</div>
</footer>