
<div class="static">
	<h2 class="title__main">Схема переходной политерапии АЭП для взрослых пациентов с массой тела более 60 кг при переключении пациента с одной антиэпилептической терапии на другую. </h2>
	<p class="desc__main">Данный инструмент позволит автоматически рассчитать среднюю рекомендованную дозировку вальпроевой кислоты и длительность перехода.<sup>2</sup> </p>
	<p class="desc__main"> Если ранее принимавшийся противоэпилептический препарат отменяется, то его отмена должна проводиться постепенно.<sup>2</sup>
	</p>

	<div class="weight">
		<div class="weight__item is-border">
			<div class="weight__wrap">
				<div class="static__num">1</div>
				<span class="desc__blue">Введите массу тела пациента (кг): </span>
			</div>
			<div class="weight__enter">
				<div class="weight__pic">
					<img src="static/img/content/libras.png" alt="libras" class="weight__img">
				</div>
				<input type="tel" name="weight" class="weight__input" maxlength="3" max="300" placeholder="60" >
			</div>
		</div>

		<div class="weight__item">
			<div class="static__num">2</div>
			<span class="desc__blue">Выберите исходный препарат: </span>
		</div>
	</div>

	<div class="choise">
		<a href="#" class="choise__item " data-open="carbamazepin">
			<div class="choise__from">Карбамазепин</div>
			<div class="choise__to">Вальпроевая кислота</div>
		</a>
		<a href="#" class="choise__item" data-open="livenirazim">
			<div class="choise__from">Леветирацетам</div>
			<div class="choise__to">Вальпроевая кислота</div>
		</a>
		<a href="#" class="choise__item" data-open="topiramat">
			<div class="choise__from">Топирамат</div>
			<div class="choise__to">Вальпроевая кислота</div>
		</a>
	</div>


</div>